<div class="general-settings-modal">
  <mat-tab-group  mat-align-tabs="center" class="main-tabs">
    <!-- Page Settings -->
    <mat-tab label="Page Settings">
      <wb-page-settings></wb-page-settings>
    </mat-tab>
    <!-- General Settings -->
    <mat-tab label="General Settings">
      <wb-general-settings></wb-general-settings>
    </mat-tab>
    <!-- Form Settings -->
    <mat-tab label="Form Settings">
      <wb-form-settings></wb-form-settings>
    </mat-tab>
  </mat-tab-group>
</div>
