// Primary colors
$primary-gray: #333;
$primary-green: #2bc6ce;
$primary-light-green: #32dde6;
$primary-white: #fff;

//Secondary colors
$secondary-gray: #ddd;
$secondary-gray-light: #ededed;
$secondary-gray-lighter: #f1f5f7;
$secondary-gray-lighter-2: #f5f8fa;
$secondary-gray-dark: #a8a8a8;
