<div class="page-settings">
  <!-- Page Settings Form -->
  <form class="page-settings-form">
    <mat-form-field class="main-form-field">
      <label>
        <input
          type="text"
          placeholder="Page Title"
          name="pageTitle"
          id="pageTitle"
          formControlName="pageTitle"
          matInput>
      </label>
    </mat-form-field>

    <mat-form-field class="main-form-field">
      <label>
        <input
          type="text"
          placeholder="Page Description"
          name="pageDescription"
          id="pageDescription"
          formControlName="pageDescription"
          matInput>
      </label>
    </mat-form-field>

    <mat-form-field class="main-form-field">
      <label>
        <input
          type="url"
          placeholder="Page URL"
          name="pageUrl"
          id="pageUrl"
          formControlName="pageUrl"
          matInput>
      </label>
    </mat-form-field>

    <div class="page-settings-list">
      <mat-slide-toggle class="page-settings-item main-slide-toggle">Home page <i class="material-icons">home</i></mat-slide-toggle>
      <a class="page-settings-item"><i class="material-icons">code</i>Add custom code</a>
      <a class="page-settings-item"><i class="material-icons">file_copy</i>Clone</a>
      <a class="page-settings-item"><i class="material-icons">delete_forever</i>Delete Page</a>
    </div>
  </form>
</div>
