@import 'shadow.scss';
@import 'colors.scss';

.header {
  display: flex;
  align-items: center;
  height: 120px;
  width: 100%;
  box-shadow: $shadow;
  background-color: $primary-white;

  &.fixed {
    position: fixed;
  }

  .container {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &-menu {
    display: flex;
    font-size: 1rem;
  }

  &-logo {
    display: flex;
    align-items: center;
    height: 100%;

    img {
      max-height: 100%;
    }
  }
}
