<div class="login">
  <div class="login-wrapper"></div>

  <!-- Login Form -->
  <div class="login-wrapper">
    <form
      class="login-form"
      [formGroup]="form"
      (ngSubmit)="login()">
      <div class="login-form-header">
        <h1>Welcome</h1>
        <h4>Create your beautiful web page</h4>
      </div>

      <mat-form-field class="main-form-field">
        <label>
          <input
            type="text"
            placeholder="Email"
            name="username"
            id="username"
            formControlName="username"
            matInput>
        </label>
      </mat-form-field>

      <mat-form-field class="main-form-field">
        <label>
          <input
            type="password"
            placeholder="Password"
            id="password"
            name="password"
            formControlName="password"
            matInput>
        </label>
      </mat-form-field>

      <mat-checkbox class="login-checkbox">Remember me</mat-checkbox>

      <button
        class="main-button login-button"
        color="primary"
        type="submit"
        mat-flat-button>Login</button>

      <a>Forgot password?</a>
    </form>
  </div>
</div>
