<div class="create-page-modal">
  <h3 class="text-center" mat-dialog-title>Create new page</h3>
  <form class="create-page-modal-form"
        (ngSubmit)="createPage()"
        [formGroup]="form">
    <mat-form-field class="main-form-field">
      <label>
        <input
          type="text"
          placeholder="Page Name"
          formControlName="pageName"
          matInput>
      </label>
    </mat-form-field>

    <mat-form-field class="main-form-field">
      <label>
        <input
          type="text"
          placeholder="Page Title"
          formControlName="pageTitle"
          matInput>
      </label>
    </mat-form-field>

    <mat-form-field class="main-form-field">
      <label>
        <input
          type="text"
          placeholder="Page Description"
          formControlName="pageDescription"
          matInput>
      </label>
    </mat-form-field>

    <mat-form-field class="main-form-field">
      <label>
        <input
          type="url"
          placeholder="Page URL"
          formControlName="pageUrl"
          matInput>
      </label>
    </mat-form-field>

    <div class="create-page-modal-list">
      <mat-slide-toggle class="create-page-modal-item main-slide-toggle"
                        formControlName="isHome">
        Home page <i class="material-icons">home</i>
      </mat-slide-toggle>
    </div>

    <div class="main-dialog-buttons">
      <button mat-flat-button
              class="main-button"
              type="submit"
              color="primary">Create</button>

      <button mat-stroked-button
              class="main-button"
              type="button"
              (click)="closeModal()">Cancel</button>
    </div>
  </form>
</div>
