@import "../../../../../styles/global/shadow";
@import "../../../../../styles/global/colors";

.controls {
  display: flex;
  align-items: center;
  height: 50px;
  border-radius: 4px;
  box-shadow: $shadow;
  background-color: $primary-white;
}

.control {
  line-height: 0;
  color: $secondary-gray-dark;

  .material-icons {
    font-size: 32px;
  }
}
