:root {
  /* Colors */
  --primary-color: #3e69d6;
  --secondary-color: #b6f2fa;
  --background-color: #f8fafb;

  /* Buttons */
  --button-alignment: 'center';
  --button-font-size: 16px;
  --button-font-weight: normal;
  --button-font-style: normal;
  --button-border-radius: 30px;

  /* Headings */
  --h1-font-family: 'Roboto', sans-serif;
  --h1-font-size: 50px;
  --h2-font-family: 'Roboto', sans-serif;
  --h2-font-size: 30px;
  --p-font-family: 'Roboto', sans-serif;
  --p-font-size: 16px;
  --subtext-font-family: 'Roboto', sans-serif;
  --subtext-font-size: 14px;
}
